.header {
    background-image: url(image/20407836.jpg);
}
.main_body {
    background-color:white;
    height:620px;
    width: 100%;

}
.profile {
    background-color: white;
    
    float: right;
    width: 70%;
    

}
.border {
        border-top: 1px solid rgb(222, 222, 222);
        border-bottom: 1px solid rgb(222, 222, 222);
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
    }
    .footer {
        background-color:#767070;
        
    }

.side-profile {
    float: left;
    width: 26%;
    background-color:#1f1f20;
    height: 580px;
    padding: 20px;
    }
#h1 {
    position: absolute;
    text-align: center;
    top: 50px;
    left: 350px;
    color: rgba(14, 15, 3, 0.925);
}
